.profile__container {
  .MuiDataGrid-root {
    border: 2px solid #afabab !important; // viền cho bảng
    border-radius: 10px !important;
    // background-color: #4b4848;
    overflow: hidden;
  }

  /* Header */
  .MuiDataGrid-columnHeaders {
    background-color: #007bff !important;
    color: #cd0202;
    font-size: 1.3rem;
    font-weight: 800 !important;
    text-align: center !important;
  }

  /* Cell */
  .MuiDataGrid-cell {
    font-size: 1.2rem;
    color: #333;
    border-bottom: 1px solid #ddd;
    font-size: 15px !important;
    // font-weight: 700 !important;
    // color: #060606 !important;
  }
  .MuiDataGrid-cell {
    color: #0a0a0a !important;
    font-size: larger;
    text-align: center !important;
    // font-weight: 700 !important;
    // background-color: #f0f0f0 !important;
  }

  /* Pagination */
  .MuiTablePagination-root {
    font-size: 1.1rem;
    color: #555;
  }

  .MuiDataGrid-columnHeaderTitle {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
    color: #060606 !important;
    text-align: center !important;
  }
  .MuiDataGrid-row--borderBottom {
    background-color: rgb(237, 220, 126) !important;
  }
  .MuiDataGrid-columnHeaderDraggableContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .MuiDataGrid-columnHeaderTitleContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
/* Style DataGrid tổng thể */
