@use "../base/mixin" as mixin;
html.dark {
  --text-color: #ffffff;
  --icon-color: #ffffff;
  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;
  //drop down
  --drop-down-bg-color: #2f3441;
  --drop-down-shadow-color: rgba(23, 28, 40, 0.4);
  --drop-down-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(8%)
    saturate(1664%) hue-rotate(186deg) brightness(95%) contrast(85%);
  --top-menu-border-color: #171c28;
  --header-shadow-color: rgba(237, 237, 246, 0.2);
  --menu-column-icon-color: brightness(0) saturate(100%) invert(98%) sepia(1%)
    saturate(311%) hue-rotate(201deg) brightness(100%) contrast(98%);

  //cate item
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title-color: #fff;

  //filter
  --filter-btn-color: #6c6c72;
  --filter-bg-color: #fff;
  --filter-line: #fff;
  //
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(237, 237, 246, 0.2);
  //like btn
  // --btn-like-bg: #292E39;

  // background div filter
  --filter-bg: #292e39;
  --span-filter: #171c28;

  @include mixin.breakpoint(sm) {
  }

  //footer background
  --footer-bg: #171c28;

  // --auth__content-bg:#292E39;
  --left-bg:#171C28;
  --right-bg:#292E39;

  //
  --bg-breadscrum:#171C28;
  ---bread-color:#fff;
  --bread-color-active:#4b43a3;

  //bg-product-detail
  --bg-product-detail:#171C28;

  //product detail
  --color-heading: #ffffff;
}
