@use "../../scssFolder/base/_mixin" as minxinF;
.slideshow {
  // position: relative;
  margin: 40px 0;

  &__item {
    flex-shrink: 0;
    // width: 100%;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding-top: 34%;
    // @include minxinF.breakpoint(md) {
    //   padding-top: 40%;
      
    // }
  }
  &__img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
 
}
