.auth{
    min-height: 100vh;
    display: flex;
    &__intro,&__content{
        flex: 1;
    }
    &__intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        &-text{
            text-align: center;
            max-width: 412px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 144.444%;
        }
    }

    &__content{
        background: var(--auth__content-bg);
        &-inner{
            width: min(460px,100%);
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px !important;
            margin: 0 auto;
        }
    }
    &__heading{
        margin-top: 30px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 146.667%;
    }
    &__desc{
        margin-top: 10px;
        padding: 0 30px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 146.667%;
        text-align: center;

    }
    &__form{
        width: 100%;
        // margin-top: 60px;
    }
    &__link{
        color: #0071DC;
        //styleName: Medium 15;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
    }
    &__btn-signup{
        width: 100%;
        background-color: #FFB700;
        border-radius: 10px;
        color: black;
        font-size: 20px;
        height: 50px;
    }
    &__btn-google{
        margin-top: 25px;
        border: 1px solid gray;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        color: black;
        font-size: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    &__text{
        margin-top: 50px;
    }
}

.form{
    &__group{
        margin-top: 30px;
        &--inline{
            display: flex;
            justify-content: space-between;
        }
    }       
    &__text-input{
        border-radius: 10px;
        display: flex;
        align-items: center;
        height: 50px;
        outline: none;
        border: 2px solid #d2d1d6;
        padding: 2px 12px;
        &:focus-within{
            border-color:#77DAE6;
        }
    }
    &__input{
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.44%;
        &::placeholder
        {
            color: #D2D1D6;
        }
        &-icon{
            margin-left: 12px;
        }
    }
    &__checkbox{
        display: flex;
        align-items: center;
        gap: 15px;
        &--label{
            color: #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
        
    }
}